/* h2 {
  border: groove 5px aquamarine;
} */

div {
  border: solid 5px;
  width: 250px;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
}
span {
  color: red;
}

h2::before {
  content: "*";
  color: #0f0;
}
h2::after {
  content: "*";
  color: #0f0;
}
